.todolist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 10px;
    padding: 10px;

    border: 2px solid grey;
}

.tasks {
    padding: 20px 0;
}

.task {
    display: flex;

    border-bottom: 1px solid hotpink;
}

.taskInput input {
    width: 220px;
    margin-left: 3px;
}

.taskCheckbox {
    opacity: .3;
}

.taskTitle {
    width: 200px;
    padding-left: 10px;
}

.error {
    font-size: 12px;

    margin-left: 3px;

    color: red;
}

.arrayInputAddTasks {
    border: 2px solid red;
}

.activeButton {
    background-color: #ffd0db;
}

.filterButtons button {
    width: 33%;
}

.todolistHeader {
    display: flex;
    justify-content: center;
}

.todolistTitle {
    font-size: 18px;
    font-weight: 600;

    margin: 0 10px 15px 0;

    text-decoration: underline;
}

.todolistBtn {
    width: 40px;
}
