.tasks {
    padding: 20px 0;
}
.task {
    display: flex;
    border-bottom: 1px solid hotpink;

}
.taskInput input {
    width: 220px;
    margin-left: 3px;
}
.taskCheckbox {
    opacity: .3;
}
.taskTitle {
    padding-left: 10px;
    width: 200px;

}
.error {
    color: red;
    font-size: 12px;
    margin-left: 3px;
}
.arrayInputAddTasks {
    border: 2px solid red;
}
.activeButton {
    background-color: #ffd0db;
}

.filterButtons button {
    width: 33%;
}
.todolistHeader{
    display: flex;
    justify-content: center;
}
/*.todolistTitle {*/
/*    margin: 0 10px 15px 0;*/
/*    font-size: 18px;*/
/*    font-weight: 600;*/
/*    text-decoration: underline;*/
/*}*/
.todolistBtn {
    width: 40px;
}
