.app {
  padding: 30px;
}
.addTodolist {
  display: flex;
}
.addTodolistTitle {
  padding: 30px 10px 0 10px;
}
.allTodolists {
  display: flex;
  flex-wrap: wrap;
}

.allTodolists > div {
  margin-right: 30px;
}
