.app {
  padding: 30px;
}
.addTodolist {
  display: flex;
  margin-bottom: 20px;
}
.addTodolistTitle {
  padding-right: 10px;
}
.allTodolists {
  display: flex;
  flex-wrap: wrap;
}

.allTodolists > div {
  margin-right: 30px;
}
